.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 200px;
     font-family: var(--rajdhani-font);
     height: 10vh;
}

.logo{
    color: var(--dark-color);
   
}

.logo span{
    color: var(--primary-color);
}

.navbar a{
text-decoration: none;
font-size: 20px;
font-weight: 500;
color:var(--gray-color);
text-transform: uppercase;
}

.navbar a:nth-child(1){
    color: var(--primary-color);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 60px;
}


.phone-div{
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 12px;
}

.phone-div h1{
    display: flex;
    align-items: center;
}

.navbar .menu-icon svg{
    font-size: 45px;
    cursor: pointer;
   
}

@media(min-width:600px){
     .nav-links{
        display: none;
    }

    .navbar{
 
    padding: 0 50px 0 50px;

}


}


@media(min-width:992px){
     .nav-links{
        display: flex ;
    }

    .navbar{
 
    padding: 0 0 0 50px;

}

.navbar .menu-icon {
    display: none;
   
}
}


@media(max-width:600px){

    .navbar{
 
    padding: 0 50px 0 50px;

}
    .nav-links{
        display: none;
    }

    .navbar .menu-icon svg{
    font-size: 45px;
   
}
}