.our-service-section{
   background-color: #f2faff;
   padding: 80px 0;
}



.our-services-container{
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    gap: 30px;
}

@media(max-width:600px){
        .our-services-container{
   
    grid-template-columns: repeat(1 , 300px);
  
}
}
@media(min-width:600px){
        .our-services-container{
   
    grid-template-columns: repeat(1 , 300px);
  
}
}

@media(min-width:786px){
        .our-services-container{
   
    grid-template-columns: repeat(2 , 300px);
  
}
}

@media(min-width:992px){
    .our-services-container{
   
    grid-template-columns: repeat(3 , 300px);
  
}

.our-service-section{
   padding: 80px 100px;
}

}