.join-us-section{
    background-image: linear-gradient(2deg,rgba(0, 0, 0, 0.686) 0%, rgba(0, 0, 0, 0.675) 100%),url('../../assets/join-backgroundimage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 300px;
    text-align: center;
    
}


.sections-sub-heading.color{
    color: var(--light-color);
}


@media(max-width:600px){
    .join-us-section{
         padding: 90px 50px;
    }
}


@media(min-width:600px){
.join-us-section{
     padding: 90px 50px;
}

}