.hero-section{
    min-height: 90vh;
    background:linear-gradient(2deg,rgba(2, 0, 36, 0.447) 0%, rgba(9, 9, 121, 0.413) 22%, rgba(0, 213, 255, 0.323) 100%), url('../../assets/imgi_33_banner-backgroundimage.jpg');
    background-size: 100%;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: top;
   
}


.hero-text{
margin-top: 100px;
text-align: center;
}

.hero-text h1{
    font-family: var(--permanent-font);
    color: var(--light-color);
    letter-spacing: 5px;
}

.hero-text h2{
    font-size:150px;
    font-family: var(--teko-font);
    color: var(--light-color);
    font-weight: bolder;
    text-transform: uppercase;
}


@media (max-width:600px) {
    .hero-text h1{
        font-size: 20px;
    }
    .hero-text h2{
        font-size: 40px;
    }
    
    .hero-section{
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }

   
}


@media (min-width:600px) {
    .hero-text h1{
        font-size: 20px;
    }
    .hero-text h2{
        font-size: 40px;
    }
    
    .hero-section{
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }

   
}


@media (min-width:768px) {
    .hero-text h1{
        font-size: 20px;
    }
    .hero-text h2{
       font-size:74px;
    }
    
    .hero-section{
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }

   
}


@media (min-width:992px) {
    .hero-text h1{
        font-size: 20px;
    }
    .hero-text h2{
       font-size:100px;
    }
    
    .hero-section{
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
   
}

@media (min-width:1200px){
     .hero-text h1{
        font-size: 20px;
    }
    .hero-text h2{
       font-size:120px;
    }
}


