.hero-section{
    min-height: 110vh;
    background:linear-gradient(2deg,rgba(2, 0, 36, 0.447) 0%, rgba(9, 9, 121, 0.413) 22%, rgba(0, 213, 255, 0.323) 100%), url('../../assets/imgi_33_banner-backgroundimage.jpg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: top;
}


.hero-text{
margin-top: 100px;
text-align: center;
}

.hero-text h1{
    font-family: var(--permanent-font);
    color: var(--light-color);
    letter-spacing: 5px;
}

.hero-text h2{
    font-size:150px;
    font-family: var(--teko-font);
    color: var(--light-color);
    font-weight: bolder;
    text-transform: uppercase;
}

.hero-text a{
    color: var(--light-color);
    background: var(--primary-color);
    text-decoration: none;
    padding: 15px 40px;
    font-family: var(--rajdhani-font);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    border-radius: 30px;

}

