.our-team-card{
    text-align: center;
    display: grid;
    gap: 5px;
    justify-items: center;
}

.our-team-card h1{
font-size: 26px;
color: var(--dark-color);
font-family: var(--teko-font);
}

.our-team-card p{
    font-size: 18px;
    color: var(--gray-color);
    font-family: var(--rajdhani-font);
    font-weight: 500;
}
.our-team-card img{
    border-radius: 50%;
    width: 250px;
}

.team-card-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.team-card-icons svg{
    color: var(--light-color);
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
}


@media(max-width:600px){
.our-team-card h1{
font-size: 16px;

}

.our-team-card p{
    font-size: 12px;
    
}
.our-team-card img{
    border-radius: 50%;
    width: 150px;
}

.team-card-icons svg{
 
    padding: 7px;
    border-radius: 50%;
}
}


@media(min-width:600px){
.our-team-card h1{
font-size: 16px;

}

.our-team-card p{
    font-size: 12px;
    
}
.our-team-card img{
    border-radius: 50%;
    width: 150px;
}

.team-card-icons svg{
 
    padding: 7px;
    border-radius: 50%;
}
}
@media(min-width:786px){
.our-team-card h1{
font-size: 25px;

}

.our-team-card p{
    font-size: 17px;
    
}
.our-team-card img{
    border-radius: 50%;
    width: 200px;
}

.team-card-icons svg{
 
    padding: 7px;
    border-radius: 50%;
}
}
@media(min-width:992px){

}
@media(min-width:1200px){

}