*{
    margin: 0;
    padding: 0;
    list-style: none;
}

:root{
    --primary-color:#38e1c5;
    --light-color:#ffffff;
    --dark-color:#151515;
    --light-blue:#f2faff;
    --gray-color:#646464;
}

:root{
    --teko-font:"Teko", sans-serif;
    --rajdhani-font: "Rajdhani", sans-serif;
    --permanent-font:"Permanent Marker", cursive;;
}
